/* start of universal selector */
*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
/* end of universal selector */

/* start of body */
body{
  line-height:40px;
  font-size:21px;
}
/* end of body */

/* start of main */
#main{
  background:#eee;
  margin:auto;
  border-radius:5px;
  padding:auto;
  width:80%;
}
/* end of main */

/* start of title*/
#title{
  line-height:3.5rem;
  text-align:center;
  min-height:8rem;
}

#title h1{
  font-size:45px;
}

#title p{
  font-size:18px;
}
/* end of title */

/* start of img-div */
#img-div{
  text-align:center;
  margin:.2rem 2rem .5rem 2rem;
  background:#fff;
  padding:10px;
  min-height:30rem;
  border-radius:5px;
}

img{
  margin-top:3rem;
  width:80%;
}

#img-caption{
  font-size:19px;
  margin: 0 2rem 0 2rem;
  line-height:1.5rem;
  margin-bottom:1rem;
}
/* end of img-div */

/* start of tribute-info */
#tribute-info{
  padding:1rem;
  margin:2rem 10rem 2rem 10rem;
}

#info-header{
  text-transform:uppercase;
  color:#ddd;
  font-size:30px;
  font-weight:bold;
  margin-bottom:.5rem;
  border-bottom:1px solid #ccc;
  line-height:3rem;
}

#timeline{
  margin-top:2rem;
  margin-bottom:3rem;
  line-height:2.5rem;
}

li{
  list-style:none;
  margin-bottom: 1rem;
}

#p-quote{
  font-size:24px;
  color:#999;
}

#quote{
  font-size:20px;
  color:#bbb;
}
/* end of tribute-info */

/* start of p-link  */
#p-link{
  margin-left:5rem;
  word-spacing:2.5px;
  font-size:25px;
  color:#444;
  padding: 1rem;
}

#tribute-link{
  text-decoration:none;
  color:#006;
}

#tribute-link:hover{
  color:#aaa;
  font-size:24px;
}
/* end of p-link */

/* media querry at 700px */
@media(max-width:700px){
  body{
    line-height:25px;
    font-size:18px;
  }

  #title p{
    line-height:1.8rem;
    margin-bottom: 2rem;
  }

  #img-caption{
    font-size:17px;
    margin: 0 0.8rem 0 0.8rem;
    line-height:1.5rem;
    margin-bottom:0.4rem;
  }

  #tribute-info{
    margin:2rem 1rem 2rem 1rem;
  }

  #info-header{
    line-height:2rem;
  }

  #timeline{
      line-height:2rem;
  }

  #p-quote{
    font-size:22px;
  }
  
  #quote{
    font-size:18.4px;
  }

  #p-link{
    word-spacing:2.1px;
    font-size:23px;
    margin-left:1rem;
  }
  
}

/* media querry at 700px */








